*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  height: 100%;
  background-color:rgb(20, 20, 20);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form{
  display: flex;
  gap: 1rem;
}

form input{
  background-color: rgb(206, 203, 203);
  width: 200px;
  height: 30px;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

button{
  padding: 0.3rem 1rem;
  border-radius: 10px;
  background-color: rgb(48, 48, 239);
  border: none;
  color: white;
}

.notes{
  width: 100%;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  width: 20rem;
  height: 9rem;
  padding: 1rem;
  border-radius: 15px;
  color: white;
  background-color: rgb(51, 50, 50);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.note button{
  width: 80px;
  background-color: crimson;
}
.note h2{
  color: bisque;
  font-size: 30px;

}

.note p{
  color: skyblue;
  font-size: 20px;
}